[
  {ssl, [{versions, ['tlsv1.2', 'tlsv1.1', tlsv1]}]},

  {rabbit, [
    {default_vhost, <<"/">>},
    {log_levels, [{connection, debug}, {channel, debug}, {federation, debug}]},
    {auth_backends, [rabbit_auth_backend_http]},
    {ssl_listeners, [5671]},
    {ssl_options, [{cacertfile, "/certs/testca/cacert.pem"},
                   {certfile, "/certs/server/cert.pem"},
                   {keyfile, "/certs/server/key.pem"},
                   {verify, verify_peer},
                   {fail_if_no_peer_cert, false}]}
  ]},

  {rabbitmq_amqp1_0, [
    {default_user, none},
    {protocol_strict_mode, false}
  ]},

  {rabbitmq_auth_backend_http, [
    {user_path,     "http://meshblu-amqp-auth.octoblu.dev/user"},
    {vhost_path,    "http://meshblu-amqp-auth.octoblu.dev/vhost"},
    {resource_path, "http://meshblu-amqp-auth.octoblu.dev/resource"}
  ]},

  {rabbitmq_mqtt, [{allow_anonymous,  false},
                   {vhost,            <<"/mqtt">>},
                   {exchange,         <<"amq.topic">>},
                   {subscription_ttl, 1800000},
                   {prefetch,         10},
                   {ssl_listeners,    [8883]},
                   {tcp_listeners,    [1883]},
                   {tcp_listen_options, [{backlog,   128},
                                         {nodelay,   true}]}]}
].
